body {
    background-image: url("../img/12453.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* LOGIN */
div[name="login"] {    
    background-color: rgb(51, 153, 255);
    width: 200px;
    border: 5px solid black;
    border-radius: 25px;
    padding: 20px;
    margin: 0;
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-35%, -50%);
}

div[name="login"] h2 {
    font-family: monospace;
    font-size: 30px;
    position: relative;
    left: 55px;
    margin: 5px;
}
form#login_form {
    font-family: monospace;
    font-size: 14px;
    position: relative;
    left: 15px;
}

.txtbox {
    background: none;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 12px;
    color: white;
}

.txtbox:hover {
    border: 2px solid white;
}

button[name="login_data"] {
    background-color: white;
    width: 60px;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 10px;
    padding: 2px 10px;
    position: relative;
    left: 55px;
    text-align: center;
    font-size: 16px;
    color: rgb(51, 153, 255);
}

button[name="login_data"]:hover {
    background-color: black;
}

/* REGISTER */
div[name="register"] {
    background-color: rgb(51, 153, 255);
    width: 200px;
    border: 5px solid black;
    border-radius: 25px;
    padding: 20px;
    margin: 0;
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-60%, -50%);
}

div[name="register"] h2 {
    font-family: monospace;
    font-size: 30px;
    position: relative;
    left: 35px;
    margin: 5px;
}

form#register_form {
    font-family: monospace;
    font-size: 14px;
    position: relative;
    left: 15px;
}
button[name="register_data"] {
    background-color: white;
    width: 80px;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 10px;
    padding: 2px 10px;
    position: relative;
    left: 45px;
    text-align: center;
    font-size: 16px;
    color: rgb(51, 153, 255);
}

button[name="register_data"]:hover {
    background-color: black;
}