body {
    background-image: url("../img/12453.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* LOGIN */
#div_login {    
    background-color: rgb(51, 153, 255);
    width: 200px;
    border: 5px solid black;
    border-radius: 25px;
    padding: 20px;
    margin: 0;
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-35%, -50%);
}

#div_login h2 {
    font-family: monospace;
    font-size: 30px;
    position: relative;
    left: 55px;
    margin: 5px;
    text-transform: uppercase;
}
#login_form {
    font-family: monospace;
    font-size: 14px;
    position: relative;
    left: 15px;
}

#submit_login {
    background-color: white;
    width: 100px;
    border: 2px solid black;
    border-radius: 24px;
    margin-top: 10px;
    padding: 2px 10px;
    position: relative;
    left: 40px;
    text-align: center;
    font-size: 16px;
    color: rgb(51, 153, 255);
}

#submit_login:hover {
    background-color: black;
}

/* REGISTER */
#div_register {
    background-color: rgb(51, 153, 255);
    width: 200px;
    border: 5px solid black;
    border-radius: 25px;
    padding: 20px;
    margin: 0;
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-60%, -50%);
}

#div_register h2 {
    font-family: monospace;
    font-size: 30px;
    position: relative;
    left: 30px;
    margin: 5px;
    text-transform: uppercase;
}

#register_form {
    font-family: monospace;
    font-size: 14px;
    position: relative;
    left: 15px;
}
#submit_register {
    background-color: white;
    width: 110px;
    border: 2px solid black;
    border-radius: 24px;
    margin-top: 10px;
    padding: 2px 10px;
    position: relative;
    left: 35px;
    text-align: center;
    font-size: 16px;
    color: rgb(51, 153, 255);
}

#submit_register:hover {
    background-color: black;
}

/* Class */
.txtbox {
    background: none;
    width: 150px;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 24px;
    font-size: 14px;
    color: white;
    text-align: center;
}

::placeholder {
    color: white;
}

.txtbox:focus {
    border: 2px solid white;
}